* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(228, 227, 227);
    box-shadow: 5px 3px 5px rgb(233, 32, 126);
    z-index: 1000;
}

nav ul{
    max-width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 20px;
    padding: 10px 20px;
    height: 55px;
    font-size: 14px;
}

nav ul li:first-child {
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a {
    height: 100%;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li img{
    margin-left: 5px;
    margin-bottom: -8px;
    height: 45px;
    width: 65px;
    margin-right: 20px;
}

.container {
    margin-top: 65px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 90%;
    height: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    
}

#addTaskBtn {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    /* width: 20%; */
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s ease;
}

#addTaskBtn:hover {
    background-color: rebeccapurple;
}

#taskList{
    list-style: none;
    padding: 0;
}

#taskList li{
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #eee;
}

#taskList li input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#taskList li span {
    width: 100%;
    font-size: 16px;
    color: #555;
}

#taskList li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.delete-btn:hover {
    background-color: #c82333;
}
